@page
@model WebApp.Pages.CVModel
@{
}


<h1 class="jumbotron bg-secondary">Resum@("\u00E9")</h1>

<p></p>

<div>
    <h2>Work History</h2>
    <hr class="bg-light" />
    <div class="row">
        @{ 
            var JobStr = Model.GetJobs().Result;
            if(JobStr != null)
            {
                foreach (var item in JobStr)
                {
                    <div class="card m-sm-2 mb-3 text-white bg-dark card-columns">
                        <div class="card-body p-sm-1">
                            <div class="card-header">
                                <h4> @item.m_title </h4>
                                <h5 class="offset-2"> @item.m_company </h5>
                            </div>
                            <div class="card-body">
                                <p>Start     : @item.m_start.ToShortDateString()</p>
                                @{
                                    if (item.m_end.HasValue)
                                    {
                                        <p class="flex-column">End     : @item.m_end.Value.ToShortDateString() </p>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
<div>
    <h2>Skills</h2>
    <hr class="bg-light" />
    <div class="row">
        @{
            var skStr = Model.GetSkills().Result;
            // List<Skill> skL = JsonSerialiser.Deserialise(jsonStr);
            if (skStr != null)
            {
                foreach (var entry in skStr)
                {
                    <div class="card m-sm-2 text-white bg-dark card-column mw-50">
                        <div class="card-body p-sm-1">
                            <h4 class="card-header"> @entry.m_name      </h4>
                            <p class="card-text offset-2">@entry.m_exp years</p>

                        </div>
                    </div>

                }
            }
        }
    </div>

</div>
<div>
    <h2>Education</h2>
    <hr class="bg-light" />
    <div class="row">
        @{
            var eduStr = Model.GetEducation().Result;
            // List<Skill> skL = JsonSerialiser.Deserialise(jsonStr);

            if (eduStr != null)
            {

                foreach (var entry in eduStr)
                {
                    <div class="card m-sm-2 text-white bg-dark card-column">
                        <div class="card-body p-sm-2">
                            <div class="card-header">

                                <h5 class=" card-title"> @entry.m_title</h5>
                                <h6 class="card-text card-subtitle">@entry.m_school </h6>
                            </div>
                            <div class="card-text">

                                <p class="offset-2">Grade:  @entry.m_grade </p>
                                <div class="row">
                                    <p class="col-auto">Start   : @entry.m_start.ToShortDateString() years   </p>
                                    @{
                                        if (entry.m_end > entry.m_start)
                                        {
                                            <p class="col-auto">End     : @entry.m_end.ToShortDateString() </p>
                                        }
                                    }
                                </div>

                            </div>

                        </div>
                    </div>

                }
            }
        }
    </div>

</div>