@page
@model WebApp.Pages.CVModel
@{
}


<h1></h1>

<p></p>

<div>
    <h3>Work History</h3>
</div>
<div>
    <h3>Skills</h3>
    @{
        var skStr = Model.GetSkills().Result;
        // List<Skill> skL = JsonSerialiser.Deserialise(jsonStr);
        if (skStr != null)
        {
            foreach (var entry in skStr)
            {
                <div class="card mb-sm-2 flex-sm-row" style="width: 60%">
                    <div class="card-body">
                        <h4 class="card-header"> @entry.m_name</h4>
                        <p class="card-text">@entry.m_exp years</p>

                    </div>
                </div>

            }
        }
    }
</div>
<div>
    <h3>Education</h3>
    @{
        var eduStr = Model.GetEducation().Result;
        // List<Skill> skL = JsonSerialiser.Deserialise(jsonStr);
        if (eduStr != null)
        {
            foreach (var entry in eduStr)
            {
                <div class="card mb-sm-2 flex-sm-row" style="width: 60%">
                        <div class="card-body">
                            <div class="card-header">

                                <h5 class=" card-title"> @entry.m_title</h5>
                                <h6 class="card-text card-subtitle">@entry.m_school </h6>
                            </div>
                            <div class="card-text">

                                <p class="">@entry.m_grade </p>
                                <p class="flex-row">Start: @entry.m_start.ToShortDateString() years</p>
                                <p class="flex-row">Start: @entry.m_end.ToShortDateString() </p>
                            </div>

                        </div>
                </div>

            }
        }
    }
</div>