@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    @*<div class="text-center" style="background-image: url('../images/blueBuilding.jpg')">*@
        <h1 class="display-4">Welcome</h1>
        <p>this Site communicates with redis</p>
        <p>@ViewData["Message"]</p>
        @*<p>@ViewData["Message1Body"]</p>*@
        <p>@ViewData["Message2"]</p>
        <p>@ViewData["Message2Body"]</p>
        <p>@ViewData["Message3"]</p>
    </div>
